.shortcutbtn{color:#333;font-weight:600;border:0!important;border-radius:10px!important;border-bottom:5px solid #7f8fa6!important;background-image:linear-gradient(120deg,#d4fc79 0,#004e93 100%)}.shortcutbtn:hover{background-image:linear-gradient(180deg,#2af598 0,#004e93 100%)}.fas.fa-ellipsis-v,.sidebar-menu li a i,a.mobile_btn{color:#000!important}.dashboard-card .overlay{width:100%;height:100%;background-color:#014174b5;border-radius:20px;padding:20px 0}.card-body h2{margin:0;color:#fff;font-size:18px;font-weight:600}.card-body p{margin:0;padding:10px 0;color:#f5f5f5;font-size:18px}.card-icon img{box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)}.sidebar-menu ul li a{padding-top:5px;padding-bottom:5px}.sidebar-menu ul li{margin:0}.sidebar{top:0;background-color:#fff;bottom:0;margin-top:0;position:fixed;left:0;-webkit-transition:.4s;-moz-transition:.4s;transition:.4s;border-right:1px solid #ccc;border-radius:0;margin-bottom:0;overflow:hidden}.header-button{display:inline-block;width:30px;height:30px;line-height:30px;background:0 0;border:1px solid #ccc;text-align:center;border-radius:50%;margin:5px 3px}.header-button a{color:#666}.header{background:0 0;border:0;border-radius:0;top:5px!important}input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}input[type=number]{-moz-appearance:textfield}.header-outer,body{background-color:#fff}#sidebar,.sidebar .header-left{background:#fff}.dash-widget5,.sidebar-menu li a{background:#fff;color:#000}.sidebar-menu li.active a,.sidebar-menu li.submenu a.active.subdrop{background:#004e93}.sidebar-menu ul{padding:0}body{background-attachment:fixed;background-position:center;background-repeat:no-repeat;background-size:cover}.header-btn-active{background-color:#003b6f!important;color:#fff!important}.header-outer{background-image:linear-gradient(to right,#fff 0,#9ec4ff 100%)}.profile-pic{width:150px;height:150px;border-radius:50%;display:block;margin:auto}.dropdown-menu{transform:translate3d(-110px,51px,0)}.user-menu .dropdown-menu{min-width:200px}@media only screen and (max-width:600px){.invoice-search{display:none}}.header-button a i{margin-top:6px}
        .select2 {
            width: 100% !important;
        }

        .action_button {
            background: #fff;
            background-color: rgb(255, 255, 255);
            border: 1px solid #b7b7b7;
            font-size: 15px;
            font-weight: 300;
            padding: 3px 10px;
        }

        .activebtn {
            background: rgb(255, 58, 58) color: rgb(255, 255, 255);

        }

        .activebtn:hover {
            background: rgb(255, 58, 58);
            color: rgb(255, 255, 255);
        }

        .dropdown-menu .dropdown-item {
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;
        }

        
        .page-wrapper>.content {
            padding: 30px 10px 1px 5px !important;
        }